anthropic_bedrock
boto3
duckduckgo-search
langchain
langchainhub
langchain-core
langchain-cohere
langchain-experimental
langchain-openai
langchain-community
langchain-aws
langchain-google-genai
langgraph
pytest
python-dotenv
black
isort
flake8
injector
opencv-python
moviepy
slack_bolt
arxiv
pypdf
slack_bolt
numexpr
Pillow
pandas
requests
yt-dlp
unstructured
azure-ai-documentintelligence
pyautogen
faiss-cpu
selenium
